@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-color: #831DE8;
  --main-color-lighter: #9C38FF;
  --main-color-darker: #52099C;
  --complementary-color: #9A9C00;
  --complementary-color-lighter: #E6E81C;
  --logourl: "../public/assets/images/logo.svg";
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .contall{
    padding: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }


  .infoGame{
    width: 100%;
    background: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background: var(--main-color-darker);
  }

  .row{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .containerGameOver{
    display: none;
    width: 100vw;
    hwight: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .gameOver{
    width: 100vw;
    height: 100vh;
    background-color:rgba(82, 9, 156, 0.7);
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
  }

  #restartButton{
    background-color: var(--main-color-lighter);
    color: var(--complementary-color-lighter);
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid black;
  }

  .containerPause{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .pausedGame{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
  }

  #resumeButtonID{
    background-color: var(--main-color-lighter);
    color: var(--complementary-color-lighter);
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid black;
  }