@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --main-color: #831DE8;
    --main-color-lighter: #9C38FF;
    --main-color-darker: #52099C;
    --complementary-color: #9A9C00;
    --complementary-color-lighter: #E6E81C;
    --logourl: "../public/assets/images/logo.svg";
  }

.bi-list{
    color: white;
}

#registeranchor{
    color: var(--main-color-darker);
    cursor: pointer;
    text-decoration: underline;
}

.nav-item{
    margin-left: 10px;
}
.modal-dialog-centered{
    max-width: 400px;
    min-width: auto;
}

.modal-content{
    border-radius: 20px;
    justify-content: center;
}

.modal-header{
    border-radius: 20px 20px 0px 0px;
}

.nav-item{
    text-align: center;
}

.btn-outline-light{
    margin-left: 15px;
}

.form-control{
    border-radius: 10px;
}

.off-canvas{
    background-color: #831DE8;
}

.btn-accedi{
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #831DE8;
    color: #E6E81C;
    height: 45px;
}

.btn-accedi:hover{
    background: #9C38FF;
    color: #E6E81C;
}