@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --main-color: #831DE8;
    --main-color-lighter: #9C38FF;
    --main-color-darker: #52099C;
    --complementary-color: #9A9C00;
    --complementary-color-lighter: #E6E81C;
    --logourl: "../public/assets/images/logo.svg";
  }

.bi-list{
    color: white;
}

#registeranchor{
    color: var(--main-color-darker);
    cursor: pointer;
    text-decoration: underline;
}

.nav-item{
    margin-left: 10px;
}
.modal-dialog-centered{
    max-width: 400px;
    max-height: 600px;
}

.modal-content{
    border-radius: 20px;
    justify-content: center;
}

.modal-header{
    border-radius: 20px 20px 0px 0px;
}

.nav-item{
    text-align: center;
}

.btn-outline-light{
    margin-left: 15px;
}

.form-control{
    border-radius: 10px;
}

.off-canvas{
    background-color: #831DE8;
}

.btn-login{
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--main-color);
    color: var(--complementary-color-lighter);
    height: 45px;
}

.btn-login:hover{
    background: var(--main-color-lighter);
    color: white;
}

.btn-register{
    border-radius: 20px;
    width: 100%;
    background: var(--main-color);
    color: var(--complementary-color-lighter);
    height: 45px;
}

.btn-register:hover{
    background: var(--main-color-lighter);
    color: white;
}

.off-canvas-{
    border-radius: 20px;
}

.offcanvas.show{
    border-radius: 20px;
    .btn-outline-light{
        margin-top: 30px;
        border-radius: 10px;
    }
    .nav-item{
        margin-top: 20px;
    }
}


.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active{
    border: none;
    outline: none;
    box-shadow: none;
}

.active{
    background: var(--main-color);
    color: var(--complementary-color-lighter);
    border-radius: 30px;

}

.error{
    color: red;
    font-size: 14px;
    padding-top: 5px;

}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 88%;
    min-width: 88%;
    border-radius: 5.2px;

}

.input-group{
    border-radius: 5.2px;
    border-color: inherit;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-right-radius: 5.2px;
    border-bottom-right-radius: 5.2px;
}

.invalid-feedback{
    font-size: 14px;
    padding-top: 5px;

}

.btn-circle {
    width: auto;
    height: auto;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    padding: 0;
    color: white;
}

.btn-circle:hover{
    color: black;
}

.alert{
    border-radius: 20px;
    z-index: 1000;
    position: fixed;
    width: 50%;
    bottom: 0px;
    left: 25%;
}