@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --main-color: #831DE8;
    --main-color-lighter: #9C38FF;
    --main-color-darker: #52099C;
    --complementary-color: #9A9C00;
    --complementary-color-lighter: #E6E81C;
    --logourl: "../public/assets/images/logo.svg";
  }


body{
    background-color: #000000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.containAll{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

.recordtablecontainer{
    z-index: 100;
    width: 70%;
    height: auto;
    position: fixed;
    align-items: center;
    top: 30%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.pagetitle{
    font-size: 100px;
    font-weight: bold;
    position: fixed;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 4px var(--complementary-color);
    color: white;
    display: block;
    top: 130px;
}