@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --main-color: #831DE8;
  --main-color-lighter: #9C38FF;
  --main-color-darker: #52099C;
  --complementary-color: #9A9C00;
  --complementary-color-lighter: #E6E81C;
  --logourl: "../public/assets/images/logo.svg";
}

body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}


.homecontainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.spaceshipContainer{
  position: fixed;
  top: 130px;
  left: 0;
  width: 100%;
  height: 25%;
}

.titlebuttonContainer
{
  position: fixed;
  top: calc(25% + 130px);
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.earthContainer{
  position: fixed;
  top: calc(55% + 130px);
  left: 0;
  width: 100%;
  height: calc(100% - (55% + 130px));
}


.centeredTitle{
  position: fixed;
  display: block;
  font-size: 60px;
  content: "defenders";
  color: white;
  font-family: 'Bungee Shade', cursive;
  border-right: 5px solid white;
  animation: cursorelampeggiante 1.5s infinite step-end, scritturatesto 10s infinite steps(13);
  white-space: nowrap;
  overflow: hidden;
  user-select: none;

}


.playbutton {
  background-color: white;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  box-shadow: var(--main-color) 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 55%;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Press Start 2P', cursive;
}

.playbutton:hover {
  background-color: white;
  box-shadow: var(--main-color-darker) 4px 4px 0 0;
  border: 2px solid var(--main-color-darker);
}

.playbutton:active {
  box-shadow: var(--main-color-lighter) 2px 2px 0 0;
  border: 1px solid var(--main-color-lighter);
  transform: translate(2px, 2px);
  background-color: white;
}

@keyframes cursorelampeggiante{ /*animazione del cursore lampeggiante */
  0%, 50%, 100%{border-color: transparent;} /* allo 0%, 50% e 100% il cursore sarà invisibile */
  25%, 75%{border-color: white;} /* al 25% e 75% il cursore sarà visibile */
}

@keyframes scritturatesto{ /*animazione della scrittura del testo */
  0%{ width: 5ch} /*al punto 0 della scrittura la parola defenders sarà nascosta*/
  20%{ width: 14ch;} /* al punto 20% della scrittura la parola defenders sarà visibile completamente*/
  40%{ width: 14ch;} /* al punto 40% della scrittura la parola defenders sarà visibile completamente*/
  70%{ width: 14ch;} /* al punto 70% della scrittura la parola defenders sarà visibile completamente*/
  80%{ width: 5ch;} /* al punto 80% della scrittura la parola defenders sarà cancellata*/
  100%{ width: 5ch;} /* al punto 100% della scrittura la parola defenders sarà invisibile*/
}


.containAll{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.recordtablecontainer{
  z-index: 1;
  width: 90%;
  height: 60%;
  position: fixed;
  align-items: center;
  top: 30%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  overflow: auto;
}

.pagetitle{
  font-size: 80px;
  font-weight: bold;
  position: fixed;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  color: white;
  display: block;
  top: 140px;
  animation: shadows 3s ease-in infinite, move 3s ease-in infinite;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--main-color-lighter);
  }
  20% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color);
  }
  30% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color), 9px 9px var(--main-color-darker);
  }
  40% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color), 9px 9px var(--main-color-darker),
      12px 12px 0 var(--complementary-color);
  }
  50% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color), 9px 9px var(--main-color-darker),
      12px 12px 0 var(--complementary-color-lighter);
  }
  60% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color), 9px 9px var(--main-color-darker),
      12px 12px 0 var(--complementary-color);
  }
  70% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color), 9px 9px var(--main-color-darker);
  }
  80% {
    text-shadow: 3px 3px 0 var(--main-color-lighter),
      6px 6px 0 var(--main-color);
  }
  90% {
    text-shadow: 3px 3px 0 var(--main-color-lighter);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.cursor{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  animation: animatePointer 1s infinite alternate;
  pointer-events: none;
}

.cursor::after{
  content: "";
  width: 20px;
  height: 20px;
  border: 10px var(--main-color) solid;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes animatePointer{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(2);
  }
}



@media only screen and (max-width: 600px) {
  .playbutton {
    min-width: 80px;
    padding: 0 18px;
    z-index: 1;
  }

  .spaceshipcont{
    display: none;
  }

  .earthcont{
    right: 90%;
    top: 80%;
  }
  .centeredTitle{
    font-size: 20px;
  }

  .pagetitle{
    font-size: 50px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px){
  .spaceshipcont
  {
    display: none;
  }

  .earthcont{
    right: 80%;
    top: 75%;

  }

  .playbutton{
    min-width: 140px;
    padding: 0 18px;
    z-index: 1;
  }

  .centeredTitle{
    font-size: 50px;
  }

  .pagetitle{
    font-size: 60px;
  }


}

@media only screen and (min-width: 768px) and (max-width: 991px){

  .spaceshipcont{
    display: none;
  }

  .playbutton{
    min-width: 160px;
    padding: 0 18px;
    z-index: 1;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  
.earthcont {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 70%;
  right: 30%;
  margin: 0%;
}


.spaceshipcont {
  position: fixed;
  width: 15%;
  height: 25%;
  top: 40%;
}

.playbutton{
  min-width: 200px;
  padding: 0 18px;
  z-index: 1;
}

}

@media only screen and (min-width: 1201px) {
  .playbutton {
    min-width: 200px;
    min-height: 60px;
    padding: 0 25px;
    z-index: 1;
  }

  .earthcont {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 70%;
    right: 30%;
    margin: 0%;
  }
  
  
  .spaceshipcont {
    position: fixed;
    width: 15%;
    height: 25%;
    top: 40%;
  }

}
