@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body { 
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  overflow: hidden;
  display:  flex;
  justify-content: center;
  align-items: center;
}

#mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer h1{
  position: fixed;
  display: block;
  font-size: 60px;
  color: white;
  font-family: 'Bungee Shade', cursive;
  border-right: 4px solid white;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(13);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: white;}
}

@keyframes typing{
  0%{ width: 5ch} /*Text is hidden*/
  30%{ width: 14ch;} /*The enitre header will be typed out*/
  80%{ width: 14ch;} /*Text stays visible*/
  90%{ width: 5ch;} /*Text is deleted*/
  100%{ width: 5ch;} /*Text stays hidden*/
}


#container3D {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 70%;
  right: 50%;
  /* padding-bottom: 100%;
  margin-left: -40%; */
}

#container3D canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#spaceShipContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin-right: -40%;
}

#spaceShipContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}
